.toolbar {
  position: static;
  display: flex;
  height: 80%;
  padding-top: 14px;
  align-items: center;
  background-color: white;
  color: black;
  box-shadow: 1px 2px 1px #888888;
}
#icon_info {
  margin-left: auto;
  order: 2;
}
#info1 {
  margin-right: 16px;
}
#info2 {
  margin-right: 16px;
}
#info3 {
  margin-right: 16px;
}
#info {
  margin-right: 8px;
}
#avatar {
  margin-left: 16px;
  margin-right: 8px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}