#c1 {
    background-color: white;
    display: block-inline;
    padding-top: 10px;
    float: left;
    border-right: 1px solid;
    width: 30%;
    height: 90vh;
}
#c2 {
    background-color: white;
    display: block-inline;
    float: right;
    width: 70%;
    height: 10vh;
}
#c3 {
    background-color: white;
    float: right;
    width: 20%;
    height: 80vh;
}
#c4 {
    background-color: white ;
    position: relative;
    float: right;
    border-right: 1px solid;
    width: 50%;
    height: 80vh;
}