<div class="info">
    <img src="/assets/IMG/Avatar/2.jpg" alt="Avatar" id="avatar">
    <br>
    <p style="font-size: 20px;"><strong>Tran Hai Duong</strong></p>
    <p style="font-size: 16px;">01678287075</p>
    <p style="font-size: 16px;">duong@abc.com</p>
</div>
<div class="file">
    <button type="button" class="drop-file" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        <img src="/assets/ICON/IconAppChat/13.svg" alt="Drop" id="drop">
        <p class="header">Dropdown header</p>
    </button>
    <ul type="square">
        <li><a class="item">Action</a></li>
        <li><a class="item">Another action</a></li>
    </ul>
</div>
<div class="image">
    <button type="button" class="drop-file" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        <img src="/assets/ICON/IconAppChat/13.svg" alt="Drop" id="drop">
        <p class="header">Dropdown header</p>
    </button>
    <ul type="square">
        <li><a class="item">Action</a></li>
        <li><a class="item">Another action</a></li>
    </ul>
</div>