<div class="main_chat" *ngFor="let sender of sender, let receiver of receiver">
    <div class="sender">
        <p class="chat_sender">{{ sender.message }}</p>
        <img src="/assets/IMG/Avatar/1.jpg" alt="Avatar" class="avatar_sender">
    </div>    
    <div class="receiver">
        <img src="/assets/IMG/Avatar/2.jpg" alt="Avatar" class="avatar_receiver">
        <p class="chat_receiver">{{ receiver.message }}</p>
    </div>
</div>
<div class="sendMessage">
    <img src="/assets/ICON/IconAppChat/10.svg" alt="File" id="info1">
    <img src="/assets/ICON/IconAppChat/9.svg" alt="Image" id="info2">
    <img src="/assets/ICON/IconAppChat/2.svg" alt="Buzz" id="info3">
    <input type="text" id="message" placeholder="Nhập tin nhắn...............................................................xxxxxxxxxx"/>
    <img src="/assets/ICON/IconAppChat/7.svg" alt="Smile" id="smile">
</div>  