
<div class="sender">
    <p class="chat_sender">aaaaaaaaaaaaaaa</p>
    <img src="/assets/IMG/Avatar/1.jpg" alt="Avatar" class="avatar_sender">
</div>
<br><br>
<div class="receiver">
    <img src="/assets/IMG/Avatar/2.jpg" alt="Avatar" class="avatar_receiver">
    <p class="chat_receiver">aaabb</p>
</div>

<div class="sendMessage">
    <img src="/assets/ICON/IconAppChat/4.svg" alt="Search" id="info1">
    <img src="/assets/ICON/IconAppChat/5.svg" alt="Info" id="info2">
    <img src="/assets/ICON/IconAppChat/2.svg" alt="Open" id="info3">
    <input type="text" id="message" placeholder="Nhập tin nhắn...............................................................xxxxxxxxxx"/>
</div>