.main_user_list {
    
}
.search {
    display: block;
    width: 80%;
    height: 3vh;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    border-style: none none solid none;
}
.users{
    position: relative;
    z-index: 1;
}
.users .list h4,p {
    position: relative;
}
.list_users{
    background-color: white;
    z-index: 2;
}