<div class="main_user_list" ng-controller="filterctrl">
    <div class="search_user" (click)="show()">
      <input id="myInput" class="search" type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" (focus)="show()" (keyup)="onKey($event)"/>
      <div id="myDropdown" class="dropdown-content">
        <div *ngFor="let user of users">
          <div id="list_users" *ngIf="showlist">
            <a href="#" style="color: white;">{{ user.name }}</a>
          </div>
        </div>
      </div>
    </div>
  <igx-list class="users">
    <igx-list-item (click)="onSelect(user)" *ngFor="let user of users" style="background-color: #0a1d3b;color: white" class="list">
      <h4 igxListLineTitle>{{ user.name }}</h4>
      <p igxListLineSubTitle>{{ user.phone }}</p>
    </igx-list-item>
  </igx-list>
</div>
